@import '~bootstrap/scss/bootstrap'; // never forget the semicolon at the end

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// @import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap");

html {
  font-size: 14px;
} 
@media (max-width: 450px) {
  html {
    font-size: 12px;
  } 
}
// a {
//   color: rgb(0, 120, 160);
// }
.centered {
  margin-left:  auto; 
  margin-right: auto; 
  text-align:   center;
}
h1 {
  font-size: 180%;
  @extend .my-3;
  @extend .centered;
  color: #30373b;
  font-weight: 500;
  &:first-letter { 
    text-transform: capitalize; 
  }
}
h2 {
  font-size: 140%;
  color: #30373b;
  font-weight: 500;
}
h3 {
  font-size: 120%;
  color: #30373b;
  font-weight: 500;
}

#footer {
  margin-top: 20px;
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.7) !important;
  a {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}

.button {
  @extend .btn;
  @extend .btn-primary;
}
table {
  @extend .table;
}
.info {
  @extend .alert; 
  @extend .alert-info;
}
.centered_action {
  width: 100%;
  text-align: center;
  margin: 10px;
}

@import "dm_card";
@import "dm_form";
@import "dm_navbar";
@import "dm_list";
