/* NAVBAR */
.dm-navbar {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-light; // necessary for .navbar-dark .navbar-toggler-icon
  @extend .mb-3;

  border-bottom: 2px solid rgb(187,46,41);

  // background-color: rgb(187,46,41);
  // background-color: $dm-green;
  // background-color: #009688;
  // background-color: rgb(146, 186, 1);
  background-color: $dm-green;

  .navbar-nav {
    li {
      @extend .nav-item;
      a {
        @extend .nav-link;
        // color: rgba(0, 0, 0, 0.7) !important;
        color: rgba(255, 255, 255, 0.9) !important;
      }
    }
    div.dropdown-menu {
      a {
        @extend .dropdown-item;
        color: rgba(0, 0, 0, 0.7) !important;
      }
    }
  }
}
.navbar-brand {
  //font-size: 14px;
  //line-height: 14px;
  color: rgba(255, 255, 255, 0.9) !important;
  small {
    display: block;
    font-size: 12px;
  }
}
.dropdown-menu i {
  @extend .fa-fw;
}

.navbar-icon i {
  font-size: 32px;
}
@media (max-width: 450px) {
  .navbar-brand {
    font-size: 14px;
  }
  .navbar-icon i {
    font-size: 18px;
  }
  .navbar-image {
    display: none;
  }
}

